body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('/img/istockphoto-942147596-2048x2048.jpg'); /* Substitua por sua imagem de madeira */
    background-size: cover;
    padding: 50px;
}

.container img {
    float: left;
    width: 40%;
}

.texto {
    float: right;
    width: 50%;
}

.informacoes-artista, .contato {
    clear: both;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
